.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pagination button {
  cursor: pointer;
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}

.pagination button:disabled {
  background-color: var(--dark);
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--lightblue);
  color: var(--darkblue);
}

.pageInfo {
  font-family: "Jost", sans-serif;
  color: var(--light);
}
