.heroContainer {
  background-image: url(/images/wonjong-ha-vaHSY41OmjA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  height: 500px;
  width: 100vw;
  display: grid;
  place-content: center;
}

.headline {
  text-align: center;
  padding-top: 200px;
}

h1 {
  color: var(--red);
  font-size: clamp(40px, 6vw, 100px);
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.introTxt {
  color: var(--light);
  font-size: clamp(14px, 3vw, 18px);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blue {
  color: #034c8c;
}

.audioLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.audioLinksContainer > a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--red);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.audioLinksContainer > a:hover {
  color: var(--lightblue);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.icon {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

img {
  width: 100%;
  height: auto;
}

.podcastLogo {
  margin: 0 auto;
  overflow: visible;
  z-index: 900;
  position: relative; /* Add this */
  margin-bottom: 20px;
}

.logo {
  border-radius: none;
}

.customShapeDividerBottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -120px;
  margin-bottom: -1px;
  z-index: 800;
}

.customShapeDividerBottom svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 122px;
}

.shapeFill {
  fill: var(--darkblue);
}

.firstLastestEpisodeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  gap: 30px;
}

.card {
  background-color: var(--lightblue);
  border: none;
  border-radius: 10px;
  height: auto;
  min-height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 300px;
  height: 180px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-shrink: 0;
}

.image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.readMoreBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid var(--light);
  border-radius: 8px;
  padding: 0.5rem;
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  font-family: "Jost", sans-serif;
}

.readMoreBtn:hover {
  background-color: var(--red);
}

.redContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--red);
  padding: 5px 10px;
  height: 60px;
  flex-shrink: 0;
}

.likesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviewContainer p {
  color: var(--light);
  font-size: clamp(14px, 3vw, 16px);
  margin: 0;
}

.episodeDescription {
  background-color: var(--lightblue);
  color: var(--dark);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.episodeTitle {
  color: var(--red);
  text-align: left;
  padding: 10px 20px 0;
  font-size: clamp(18px, 4vw, 24px);
}

details {
  cursor: pointer;
}

.episodeDetails {
  color: var(--darkblue);
  font-size: clamp(14px, 3vw, 16px);
  padding: 0 20px 10px;
  margin-bottom: 10px;
  flex-grow: 1;
}

.episodeTxt {
  color: var(--darkblue);
  font-size: clamp(14px, 3vw, 16px);
  padding: 5px 20px;
  line-height: 1.5;
}

.iFrameContainer {
  height: 100px;
  flex-shrink: 0;
  margin-top: auto;
}

iframe {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 50px;
}

.episodeListLinkBtn {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  color: var(--light);
  cursor: pointer;
}

.episodeListLinkBtn:hover {
  font-family: "Jost", sans-serif;
  background-color: var(--lightblue);
  color: var(--dark);
  border: 1px solid var(--lightblue);
}

@media (min-width: 430px) {
  .logo {
    border-radius: 16px;
  }
}

@media (min-width: 900px) {
  .firstLastestEpisodeContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 180px;
    gap: 20px;
  }

  .episodeListLinkBtn {
    width: 345px;
  }
}
