.cookiePolicy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainerPolicy {
  background-image: url(/images/wonjong-ha-vaHSY41OmjA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  height: 300px;
  width: 100vw;
  display: grid;
  place-content: center;
}

.headlinePolicy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 65px;
}

h1 {
  color: var(--red);
  font-size: clamp(40px, 6vw, 100px);
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.customShapeDividerBottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -120px;
  margin-bottom: -1px;
  z-index: 800;
}

.customShapeDividerBottom svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 122px;
}

.shapeFill {
  fill: var(--darkblue);
}

.policyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  color: var(--light);
  line-height: 1.5rem;
  margin: 20px auto;
  padding: 0 20px 60px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

li {
  list-style: none;
}
